/* Contact.css */

.contact-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.contact-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.contact-form {
  width: 100%;
  max-width: 800px;
  background-color: #d4d4d4d8;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.contact-form-title {
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 20px;
}

.contact-form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.contact-form-label {
  font-weight: 600;
  margin-bottom: 5px;
}

.contact-form-input,
.contact-form-textarea {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  transition: box-shadow 0.3s;
}

.contact-form-input:hover,
.contact-form-textarea:hover {
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.24);
}

.contact-form-textarea {
  resize: vertical;
}

.contact-form-submit {
  display: flex;
  justify-content: center;
}

.contact-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 800px;
}

.contact-info-image {
  border-radius: 10px;
  width: 100%;
  max-width: 100%;
}

.contact-info-text {
  text-align: center;
  padding-top: 10px;
  color: #666;
  font-weight: 600;
}
