/* Destination.css */
.destination-container {
  min-height: 100vh;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding: 0 1.25rem; /* Adjust padding to reduce width */
}

.destination-title {
  font-weight: 600;
  text-align: center;
  font-size: 2.25rem; /* Adjust as needed */
  margin-top: 4.25rem; /* Space from top on smaller screens */
}

.destination-cards {
  display: flex;
  flex-wrap: wrap; /* Allow cards to wrap */
  gap: 1.25rem; /* Space between cards */
  margin-top: 3.5rem; /* Space from title */
}

.destination-card {
  flex: 1 1 calc(33.333% - 1.25rem); /* Responsive card width */
  min-width: 200px; /* Ensure cards are not too small */
}

@media (min-width: 768px) {
  .destination-title {
    font-size: 2.5rem; /* Slightly larger font size for medium screens */
    margin-top: 3rem; /* Reduced top margin for medium screens */
  }
  
  .destination-cards {
    gap: 2rem; /* Increase space between cards */
  }
}

@media (min-width: 1024px) {
  .destination-cards {
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem; /* Increase space between cards for large screens */
  }
  
  .destination-card {
    flex: 1 1 calc(25% - 2rem); /* Adjust card width for large screens */
  }
}
